<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <title> Master Tatanama E-Commerce </title>
    </head>

    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #4CAF50">
            <a class="navbar-brand" href="{{ url_for('main') }}"> MTE </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main') }}" style="color: white"> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('download') }} " style="color: white"> Download </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_single') }}" style="color: white"> Add Single </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('edit_single') }}" style="color: white"> Edit Single </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}" style="color: white"> Log Out </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_alias') }}" style="color: white"> Alias </a>
                    </li>

                </ul>
            </div>
        </nav>
        <h1><center> Master Tatanama E-Commerce </center></h1>
        {% block content %}{% endblock %}
    </body>
</html>