<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
         
    </head>

    <body>
        <div class="container">
            <form class="form-group" method="post">
                <button type="submit" name="submit_button" value="search" class="btn btn-success"> Search </button>
                <button type="submit" name="submit_button" value="login" class="btn btn-primary"> Login </button>
                <button type="submit" class="btn btn-info" name="submit_button" value="download"> Download Excel </button>
            </form>
        </div>
    </body>