{% if login %}
    {% extends "base_login.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block content %}
        <div class="container">
            {% if data  %}
                <table class="SKU">
                    <tr>
                        <th> Nama Bundle </th>
                        <th> SKU Bundle </th>
                        <th> Price List NFI Bundle </th>
                        <th> Harga Cost Bundle </th>
                        <th> Harga Display Bundle </th>
                        <th> Harga Organik Bundle </th>
                        <th> Berat Bundle </th>
                        <th> Volume Bundle </th>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> {{data['SKU']}} </td>
                        <td> Rp {{data['Price_List_NFI']}} </td>
                        <td> Rp {{data['Harga_Cost']}} </td>
                        <td> Rp {{data['Harga_Display']}} </td>
                        <td> Rp {{data['Harga_Organik']}} </td>
                        <td> {{'%0.4f'|format(data['Berat']|float)}} </td>
                        <td> {{'%0.4f'|format(data['Volume']|float)}} </td>
                    </tr>
                </table>
                <br />
                <table class="SKU">
                    <tr>
                        <th>No</th>
                        <th>Nama Produk</th>
                        <th>SKU Produk</th>
                        <th>PCS Produk</th>
                        <th>Price List NFI Produk</th>
                        <!--<th>Subtotal Produk</th>-->
                        <th>Berat Produk</th>
                        <th>Volume Produk</th>
                        <th></th>
                    </tr>
                    {% for i in range(1,8) %}
                        {% set colname = 'Produk_' + i|string %}
                        {% if colname in data.keys() %}
                            {% if data['SKU_' + colname]|string != '' %}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>{{data[colname]}}</td>
                                    <td>{{data['SKU_' + colname]}}</td>
                                    <td>{{data['PCS_' + colname]}}</td>
                                    <td>Rp {{data['Price_List_NFI_' + i|string]}}</td>
                                    <!--<td>Rp {{data['Subtotal_' + colname]}}</td>-->
                                    <td>{{'%0.4f'|format(data['Berat_' + i|string]|float)}}</td>
                                    <td>{{'%0.4f'|format(data['Volume_' + i|string]|float)}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Menu
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li>
                                                <a class="dropdown-item" href="http://event.l-men.com/janjianharga?item_name={{data[colname] | replace('&','%26')}}&item_sku={{data['SKU_' + colname]}}&item_pl={{data['Price_List_NFI_' + i|string]}}">Janjian Harga</a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="http://event.l-men.com/proddesc/{{data['SKU_' + colname]}}">Konten</a>
                                              </li>
                                              <li><a class="dropdown-item" href="#">Flush Out</a></li>
                                            </ul>
                                          </div>
                                        <!-- <div class="row icon">
                                            <div class="col icon">
                                                <a href="http://event.l-men.com/janjianharga?item_name={{data[colname] | replace('&','%26')}}&item_sku={{data['SKU_' + colname]}}&item_pl={{data['Price_List_NFI_' + i|string]}}"><img src='/static/discount.png' class="img-thumbnail" style="width: 30px;" ></a>
                                            </div>
                                            <div class="col icon">
                                                <a href="http://event.l-men.com/proddesc/{{data['SKU_' + colname]}}"><img src='/static/image-gallery.png' class="img-thumbnail" style="width: 30px;"></a>
                                            </div>
                                        </div> -->
                                        <!--<a class="btn btn-primary btn-sm" href="https://nutrimartevent.pythonanywhere.com/janjianharga?item_name={{data[colname]}}&item_sku={{data['SKU_' + colname]}}&item_pl={{data['Price_List_NFI_' + i|string]}}" role="button-sm">Janjian Harga</a>-->
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}


            <div class="form-group">
                 <form class="example" method="post" action=""
                 style="margin:auto;max-width:600px">
                    <h3>Masukkan Nama Bundle</h3>
                    {{ form.name(class_='form-control') }}
                    <h3>Marketplace</h3>
                    {{ form.mp(class_='form-control') }}
                    <h3>Eksklusif ?</h3>
                    {{ form.eksklusif(class_='form-control') }}
                    <button type="submit" name="submit_button" value="submit" class="btn btn-success"> Daftarkan Bundle </button>
                    <button type="submit" name="submit_button" value="cancel" class="btn btn-danger"> Batalkan </button>
                </form>
            </div>
        </div>
{% endblock %}